.loginBox{
    width: 500px;
    height: 260px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 3px 6px #ccc;
    position: fixed;
    right:50%;
    top: 50%;
    background-color: #fff;
    transform: translate(50%,-50%);
  }
  .loginBox-header{
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  .primary{
    color:rgb(151, 27, 94);
  }